.super-mario {
    width: 200px;
    position: absolute;
    margin-top: 60px;
    margin-left: 50px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    margin-top: 400px;
    margin-left: 100px;
  }
  
  .baloon {
      position: absolute;
      margin-left: 300px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    margin-left: 330px;
    margin-top: 60px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    margin-left: 600px;
    margin-top: 150px;
  }